{% set current_page = "Home" %}

{% extends "base.html" %}

{% block content %}
<section class="full-width bg-opensoldat" style="padding-top: 80px; padding-bottom: 110px">
    <a id="opensoldat"></a>
    <div class="img-soldiers"></div>
    <h1><mark>WHAT IS OPENSOLDAT</mark></h1>
    <p>
        Soldat is an exciting unique side-view multiplayer action game. Played by hundreds of players at this moment. It takes the best from games like Liero, Worms, Quake and Counter-Strike and gives you fast action gameplay with tons of blood and flesh. Little ragdoll soldiers fight against each other on 2D battle arenas using a deadly arsenal.<br>
        This is what multiplayer was invented for.
    </p>
    <p>Pure fun, addictive kill'em all gameplay. NOW OPEN!</p>
    <p style="margin: 80px 0 0">But don't take our word for it!</p>
    <a class="play-button-red" href="download.html">PLAY NOW!</a>
</section>
<section class="full-width bg-features">
    <a id="features"></a>
    <h1><mark>FEATURES? WE GOT EM'!</mark></h1>
    <p>
        Unique physics-based movement system<br>
        18 weapons for every playstyle<br>
        7 classic gamemodes<br>
        Competitive skill-based matchmaking<br>
        64 masterfully crafted maps<br>
        Badass metal soundtrack<br>
    </p>
    <p>
        And we haven't touched on a huge ton of community created content!<br>
        What else can one need?
    </p>
</section>
<section class="full-width bg-code">
    <a id="code"></a>
    <div class="right">
        <h1><mark class="red">WE #LEARNEDTOCODE</mark></h1>
        <p>Having the misfortune of being written in Pascal, Soldat is currently being developed and<br>
            maintained by the brightest of minds banned from r/ProgrammerHumor. This allows for the<br>
            blossoming community of 4 people to discuss ideas and implement them quickly, resulting<br>
            in the productive state of development on display.</p>
        <p>But there is never enough people implementing bug fixes that result in RCE exploits!</p>
        <p>Consider becoming a developer yourself! It's free!</p>
    </div>
</section>
<section class="full-width bg-playnow" style="padding-top: 115px; height: 649px">
    <a id="playnow"></a>
    <h1 class="center">WHAT ARE YOU WAITING FOR?</h1>
    <a class="play-button center" href="download.html">PLAY NOW!</a>
</section>
{%- endblock %}
